In [219]:
import pandas as pd
import sklearn
from sklearn.preprocessing import LabelEncoder

In [220]:
df = pd.read_csv('Desktop/HACKATHON/Price.csv')

In [221]:
df.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE HARVEST PRICE (Rs per Quintal),PADDY HARVEST PRICE (Rs per Quintal),WHEAT HARVEST PRICE (Rs per Quintal),SORGHUM HARVEST PRICE (Rs per Quintal),PEARL MILLET HARVEST PRICE (Rs per Quintal),...,BARLEY HARVEST PRICE (Rs per Quintal),CHICKPEA HARVEST PRICE (Rs per Quintal),PIGEONPEA HARVEST PRICE (Rs per Quintal),GROUNDNUT HARVEST PRICE (Rs per Quintal),SEASMUM HARVEST PRICE (Rs per Quintal),RAPE AND MUSTARD HARVEST PRICE (Rs per Quintal),CASTOR HARVEST PRICE (Rs per Quintal),LINSEED HARVEST PRICE (Rs per Quintal),SUGARCANE GUR HARVEST PRICE (Rs per Quintal),COTTON KAPAS HARVEST PRICE (Rs per Quintal)
0,1,1966,14,Chhattisgarh,Durg,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,77.7,-1.0,157.5,-1.0,-1.0,172.7,87.3,-1.0
1,1,1967,14,Chhattisgarh,Durg,110.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,87.8,113.4,-1.0,125.0,-1.0,-1.0,99.5,238.1,-1.0
2,1,1968,14,Chhattisgarh,Durg,98.8,-1.0,-1.0,-1.0,-1.0,...,-1.0,78.9,71.9,-1.0,125.6,-1.0,-1.0,115.6,180.7,-1.0
3,1,1969,14,Chhattisgarh,Durg,94.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,101.4,89.5,-1.0,168.1,-1.0,-1.0,157.0,95.1,-1.0
4,1,1970,14,Chhattisgarh,Durg,95.4,-1.0,-1.0,-1.0,-1.0,...,-1.0,82.4,95.8,-1.0,205.3,-1.0,100.0,133.9,111.3,-1.0

In [222]:
df['State Name'].unique()

array(['Chhattisgarh', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana',
       'Karnataka', 'Tamil Nadu', 'Maharashtra', 'Gujarat', 'Rajasthan',
       'Punjab', 'Haryana', 'Uttar Pradesh', 'Uttarakhand', 'Assam',
       'Himachal Pradesh', 'Kerala', 'Orissa', 'West Bengal', 'Bihar',
       'Jharkhand'], dtype=object)

In [223]:
df = df.drop(['Dist Code', 'State Code', 'Dist Name'], axis=1)

In [224]:
df.head()

,Year,State Name,RICE HARVEST PRICE (Rs per Quintal),PADDY HARVEST PRICE (Rs per Quintal),WHEAT HARVEST PRICE (Rs per Quintal),SORGHUM HARVEST PRICE (Rs per Quintal),PEARL MILLET HARVEST PRICE (Rs per Quintal),MAIZE HARVEST PRICE (Rs per Quintal),FINGER MILLET HARVEST PRICE (Rs per Quintal),BARLEY HARVEST PRICE (Rs per Quintal),CHICKPEA HARVEST PRICE (Rs per Quintal),PIGEONPEA HARVEST PRICE (Rs per Quintal),GROUNDNUT HARVEST PRICE (Rs per Quintal),SEASMUM HARVEST PRICE (Rs per Quintal),RAPE AND MUSTARD HARVEST PRICE (Rs per Quintal),CASTOR HARVEST PRICE (Rs per Quintal),LINSEED HARVEST PRICE (Rs per Quintal),SUGARCANE GUR HARVEST PRICE (Rs per Quintal),COTTON KAPAS HARVEST PRICE (Rs per Quintal)
0,1966,Chhattisgarh,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,77.7,-1.0,157.5,-1.0,-1.0,172.7,87.3,-1.0
1,1967,Chhattisgarh,110.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,87.8,113.4,-1.0,125.0,-1.0,-1.0,99.5,238.1,-1.0
2,1968,Chhattisgarh,98.8,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,78.9,71.9,-1.0,125.6,-1.0,-1.0,115.6,180.7,-1.0
3,1969,Chhattisgarh,94.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,101.4,89.5,-1.0,168.1,-1.0,-1.0,157.0,95.1,-1.0
4,1970,Chhattisgarh,95.4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,82.4,95.8,-1.0,205.3,-1.0,100.0,133.9,111.3,-1.0

In [225]:
df_selected = df[['Year', 'State Name', 'RICE HARVEST PRICE (Rs per Quintal)']]
df_selected.head()

   Year    State Name  RICE HARVEST PRICE (Rs per Quintal)
0  1966  Chhattisgarh                                 -1.0
1  1967  Chhattisgarh                                110.0
2  1968  Chhattisgarh                                 98.8
3  1969  Chhattisgarh                                 94.0
4  1970  Chhattisgarh                                 95.4

In [226]:
df_WB = df_selected[df_selected['State Name'] == 'Rajasthan']

In [227]:
df_WB.head()

      Year State Name  RICE HARVEST PRICE (Rs per Quintal)
6926  1966  Rajasthan                                202.5
6927  1967  Rajasthan                                200.0
6928  1968  Rajasthan                                190.0
6929  1969  Rajasthan                                225.0
6930  1970  Rajasthan                                165.0

In [228]:
len(df_WB)

1323

In [229]:
# Calculate the mean of the specific column, ignoring -1.0 values
mean_value = df_WB.loc[df_WB['RICE HARVEST PRICE (Rs per Quintal)'] != -1.0, 'RICE HARVEST PRICE (Rs per Quintal)'].mean()

# Replace -1.0 with the mean value using .loc
df_WB.loc[df_WB['RICE HARVEST PRICE (Rs per Quintal)'] == -1.0, 'RICE HARVEST PRICE (Rs per Quintal)'] = mean_value

In [230]:
# Check if there are any -1.0 values in a specific column
has_negatives_column = (df_WB['RICE HARVEST PRICE (Rs per Quintal)'] == -1.0).any()
has_negatives_column

False

In [231]:
df_WB.head()

      Year State Name  RICE HARVEST PRICE (Rs per Quintal)
6926  1966  Rajasthan                                202.5
6927  1967  Rajasthan                                200.0
6928  1968  Rajasthan                                190.0
6929  1969  Rajasthan                                225.0
6930  1970  Rajasthan                                165.0

In [232]:
df_WB = df_WB.groupby(['Year', 'State Name']).mean().reset_index()
len(df_WB)

51

In [233]:
df_WB

    Year State Name  RICE HARVEST PRICE (Rs per Quintal)
0   1966  Rajasthan                           355.575807
1   1967  Rajasthan                           411.319935
2   1968  Rajasthan                           358.438256
3   1969  Rajasthan                           332.433955
4   1970  Rajasthan                           350.919025
5   1971  Rajasthan                           361.942557
6   1972  Rajasthan                           437.335775
7   1973  Rajasthan                           360.164724
8   1974  Rajasthan                           428.318570
9   1975  Rajasthan                           422.319935
10  1976  Rajasthan                           519.094377
11  1977  Rajasthan                           440.957942
12  1978  Rajasthan                           413.600249
13  1979  Rajasthan                           464.362243
14  1980  Rajasthan                           498.931929
15  1981  Rajasthan                           503.055006
16  1982  Rajasthan                           522.716544
17  1983  Rajasthan                           498.469025
18  1984  Rajasthan                           551.324236
19  1985  Rajasthan                           612.029448
20  1986  Rajasthan                           605.590076
21  1987  Rajasthan                           648.837140
22  1988  Rajasthan                           616.082839
23  1989  Rajasthan                           568.563153
24  1990  Rajasthan                           665.090076
25  1991  Rajasthan                           736.991896
26  1992  Rajasthan                           744.145742
27  1993  Rajasthan                           711.637140
28  1994  Rajasthan                           804.722666
29  1995  Rajasthan                           864.891441
30  1996  Rajasthan                           900.237595
31  1997  Rajasthan                           911.891441
32  1998  Rajasthan                           785.611831
33  1999  Rajasthan                           785.611831
34  2000  Rajasthan                           785.611831
35  2001  Rajasthan                           785.611831
36  2002  Rajasthan                           785.611831
37  2003  Rajasthan                           785.611831
38  2004  Rajasthan                           996.030358
39  2005  Rajasthan                          1035.575146
40  2006  Rajasthan                          1034.929903
41  2007  Rajasthan                          1196.483294
42  2008  Rajasthan                          1272.352980
43  2009  Rajasthan                          1460.468364
44  2010  Rajasthan                          1306.914973
45  2011  Rajasthan                          1403.414973
46  2012  Rajasthan                          1581.829448
47  2013  Rajasthan                          1706.444832
48  2014  Rajasthan                          1657.752525
49  2015  Rajasthan                          1572.237595
50  2016  Rajasthan                          1600.084948

In [234]:
df_rain = pd.read_csv('Desktop/HACKATHON/Rainfall.csv')

In [235]:
df_rain.head()

,Dist Code,Year,State Code,State Name,Dist Name,JANUARY RAINFALL (Millimeters),FEBRUARY RAINFALL (Millimeters),MARCH RAINFALL (Millimeters),APRIL RAINFALL (Millimeters),MAY RAINFALL (Millimeters),JUNE RAINFALL (Millimeters),JULY RAINFALL (Millimeters),AUGUST RAINFALL (Millimeters),SEPTEMBER RAINFALL (Millimeters),OCTOBER RAINFALL (Millimeters),NOVEMBER RAINFALL (Millimeters),DECEMBER RAINFALL (Millimeters),ANNUAL RAINFALL (Millimeters)
0,1,1966,14,Chhattisgarh,Durg,1.4,0.0,0.0,8.9,38.6,169.5,249.5,182.6,112.6,4.8,0.9,1.0,769.8
1,1,1967,14,Chhattisgarh,Durg,0.1,0.0,73.4,0.6,0.0,237.5,342.9,428.8,142.8,3.3,0.0,34.2,1263.5
2,1,1968,14,Chhattisgarh,Durg,27.8,11.3,13.5,17.6,1.4,229.1,410.4,156.4,256.6,39.3,0.0,9.1,1172.3
3,1,1969,14,Chhattisgarh,Durg,0.6,0.0,0.0,15.3,16.5,98.3,375.8,239.1,180.9,2.5,0.0,0.0,929.0
4,1,1970,14,Chhattisgarh,Durg,8.3,7.9,32.9,0.2,2.3,317.2,535.9,410.9,139.0,29.7,0.0,0.0,1484.3

In [236]:
df_rainWB = df_rain[df_rain['State Name'] == 'Rajasthan']

In [237]:
df_rainWB.head()

,Dist Code,Year,State Code,State Name,Dist Name,JANUARY RAINFALL (Millimeters),FEBRUARY RAINFALL (Millimeters),MARCH RAINFALL (Millimeters),APRIL RAINFALL (Millimeters),MAY RAINFALL (Millimeters),JUNE RAINFALL (Millimeters),JULY RAINFALL (Millimeters),AUGUST RAINFALL (Millimeters),SEPTEMBER RAINFALL (Millimeters),OCTOBER RAINFALL (Millimeters),NOVEMBER RAINFALL (Millimeters),DECEMBER RAINFALL (Millimeters),ANNUAL RAINFALL (Millimeters)
6559,139,1966,10,Rajasthan,Ajmer,0.3,0.9,0.0,0.0,0.3,70.1,109.9,100.3,112.6,0.0,2.4,0.0,396.8
6560,139,1967,10,Rajasthan,Ajmer,0.0,0.0,44.1,0.6,0.0,59.4,89.2,171.2,99.2,0.0,0.6,36.9,501.2
6561,139,1968,10,Rajasthan,Ajmer,20.6,0.6,1.9,0.0,4.8,0.7,214.4,87.6,0.6,1.1,0.0,0.0,332.3
6562,139,1969,10,Rajasthan,Ajmer,9.4,0.0,0.0,0.0,0.0,3.0,138.6,124.6,70.4,0.2,0.0,0.0,346.2
6563,139,1970,10,Rajasthan,Ajmer,0.0,13.6,0.6,0.0,0.3,66.2,95.1,320.8,35.0,6.3,0.0,0.0,537.9

In [238]:
df_selected_rain = df_rainWB[['Year', 'State Name', 'ANNUAL RAINFALL (Millimeters)']]
df_selected_rain.head()

      Year State Name  ANNUAL RAINFALL (Millimeters)
6559  1966  Rajasthan                          396.8
6560  1967  Rajasthan                          501.2
6561  1968  Rajasthan                          332.3
6562  1969  Rajasthan                          346.2
6563  1970  Rajasthan                          537.9

In [239]:
len(df_selected_rain)

1218

In [240]:
has_negatives = (df_selected_rain['ANNUAL RAINFALL (Millimeters)'] == -1.0).any()
has_negatives

True

In [241]:
# Calculate the mean of the specific column, ignoring -1.0 values
mean_value = df_selected_rain.loc[df_selected_rain['ANNUAL RAINFALL (Millimeters)'] != -1.0, 'ANNUAL RAINFALL (Millimeters)'].mean()

# Replace -1.0 with the mean value using .loc
df_selected_rain.loc[df_selected_rain['ANNUAL RAINFALL (Millimeters)'] == -1.0, 'ANNUAL RAINFALL (Millimeters)'] = mean_value

In [242]:
has_negatives = (df_selected_rain['ANNUAL RAINFALL (Millimeters)'] == -1.0).any()
has_negatives

False

In [243]:
df_selected_rain.head()
len(df_selected_rain)
df_selected_rain.head()

      Year State Name  ANNUAL RAINFALL (Millimeters)
6559  1966  Rajasthan                          396.8
6560  1967  Rajasthan                          501.2
6561  1968  Rajasthan                          332.3
6562  1969  Rajasthan                          346.2
6563  1970  Rajasthan                          537.9

In [244]:
df_selected_rain = df_selected_rain.groupby(['Year', 'State Name']).mean().reset_index()
len(df_selected_rain)

50

In [245]:
merged_df = pd.merge(df_WB, df_selected_rain, on=['Year', 'State Name'], how = 'inner')

In [246]:
len(merged_df)

50

In [247]:
merged_df

,Year,State Name,RICE HARVEST PRICE (Rs per Quintal),ANNUAL RAINFALL (Millimeters)
0,1966,Rajasthan,355.575807,382.721739
1,1967,Rajasthan,411.319935,597.460870
2,1968,Rajasthan,358.438256,380.156522
3,1969,Rajasthan,332.433955,463.508696
4,1970,Rajasthan,350.919025,571.286957
5,1971,Rajasthan,361.942557,597.208696
6,1972,Rajasthan,437.335775,361.647826
7,1973,Rajasthan,360.164724,774.021739
8,1974,Rajasthan,428.318570,457.873913
9,1975,Rajasthan,422.319935,769.726087
10,1976,Rajasthan,519.094377,700.365217
11,1977,Rajasthan,440.957942,646.276771
12,1978,Rajasthan,413.600249,609.673913
13,1979,Rajasthan,464.362243,456.526087
14,1980,Rajasthan,498.931929,413.577273
15,1981,Rajasthan,503.055006,435.686364
16,1982,Rajasthan,522.716544,529.436364
17,1983,Rajasthan,498.469025,665.081818
18,1984,Rajasthan,551.324236,432.513636
19,1985,Rajasthan,612.029448,429.959091
20,1986,Rajasthan,605.590076,454.995455
21,1987,Rajasthan,648.837140,331.231818
22,1988,Rajasthan,616.082839,497.795455
23,1989,Rajasthan,568.563153,410.268182
24,1990,Rajasthan,665.090076,749.257692
25,1991,Rajasthan,736.991896,455.926923
26,1992,Rajasthan,744.145742,635.300000
27,1993,Rajasthan,711.637140,522.169231
28,1994,Rajasthan,804.722666,697.603846
29,1995,Rajasthan,864.891441,610.988462
30,1996,Rajasthan,900.237595,753.384615
31,1997,Rajasthan,911.891441,643.003846
32,1998,Rajasthan,785.611831,543.503846
33,1999,Rajasthan,785.611831,467.657692
34,2000,Rajasthan,785.611831,394.530769
35,2001,Rajasthan,785.611831,545.307692
36,2002,Rajasthan,785.611831,246.865385
37,2003,Rajasthan,785.611831,585.203846
38,2004,Rajasthan,996.030358,505.952528
39,2005,Rajasthan,1035.575146,497.926923
40,2006,Rajasthan,1034.929903,641.973077
41,2007,Rajasthan,1196.483294,499.888462
42,2008,Rajasthan,1272.352980,511.048682
43,2009,Rajasthan,1460.468364,373.533297
44,2010,Rajasthan,1306.914973,694.792308
45,2011,Rajasthan,1403.414973,728.469231
46,2012,Rajasthan,1581.829448,576.207692
47,2013,Rajasthan,1706.444832,684.846154
48,2014,Rajasthan,1657.752525,560.038462
49,2015,Rajasthan,1572.237595,611.196154

In [248]:
merged_df = merged_df.sort_values(by='Year')

In [249]:
merged_df

,Year,State Name,RICE HARVEST PRICE (Rs per Quintal),ANNUAL RAINFALL (Millimeters)
0,1966,Rajasthan,355.575807,382.721739
1,1967,Rajasthan,411.319935,597.460870
2,1968,Rajasthan,358.438256,380.156522
3,1969,Rajasthan,332.433955,463.508696
4,1970,Rajasthan,350.919025,571.286957
5,1971,Rajasthan,361.942557,597.208696
6,1972,Rajasthan,437.335775,361.647826
7,1973,Rajasthan,360.164724,774.021739
8,1974,Rajasthan,428.318570,457.873913
9,1975,Rajasthan,422.319935,769.726087
10,1976,Rajasthan,519.094377,700.365217
11,1977,Rajasthan,440.957942,646.276771
12,1978,Rajasthan,413.600249,609.673913
13,1979,Rajasthan,464.362243,456.526087
14,1980,Rajasthan,498.931929,413.577273
15,1981,Rajasthan,503.055006,435.686364
16,1982,Rajasthan,522.716544,529.436364
17,1983,Rajasthan,498.469025,665.081818
18,1984,Rajasthan,551.324236,432.513636
19,1985,Rajasthan,612.029448,429.959091
20,1986,Rajasthan,605.590076,454.995455
21,1987,Rajasthan,648.837140,331.231818
22,1988,Rajasthan,616.082839,497.795455
23,1989,Rajasthan,568.563153,410.268182
24,1990,Rajasthan,665.090076,749.257692
25,1991,Rajasthan,736.991896,455.926923
26,1992,Rajasthan,744.145742,635.300000
27,1993,Rajasthan,711.637140,522.169231
28,1994,Rajasthan,804.722666,697.603846
29,1995,Rajasthan,864.891441,610.988462
30,1996,Rajasthan,900.237595,753.384615
31,1997,Rajasthan,911.891441,643.003846
32,1998,Rajasthan,785.611831,543.503846
33,1999,Rajasthan,785.611831,467.657692
34,2000,Rajasthan,785.611831,394.530769
35,2001,Rajasthan,785.611831,545.307692
36,2002,Rajasthan,785.611831,246.865385
37,2003,Rajasthan,785.611831,585.203846
38,2004,Rajasthan,996.030358,505.952528
39,2005,Rajasthan,1035.575146,497.926923
40,2006,Rajasthan,1034.929903,641.973077
41,2007,Rajasthan,1196.483294,499.888462
42,2008,Rajasthan,1272.352980,511.048682
43,2009,Rajasthan,1460.468364,373.533297
44,2010,Rajasthan,1306.914973,694.792308
45,2011,Rajasthan,1403.414973,728.469231
46,2012,Rajasthan,1581.829448,576.207692
47,2013,Rajasthan,1706.444832,684.846154
48,2014,Rajasthan,1657.752525,560.038462
49,2015,Rajasthan,1572.237595,611.196154

In [250]:
df3 = pd.read_csv('Desktop/HACKATHON/Area_Yield.csv')

In [251]:
df3.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),WHEAT AREA (1000 ha),WHEAT PRODUCTION (1000 tons),...,SUGARCANE YIELD (Kg per ha),COTTON AREA (1000 ha),COTTON PRODUCTION (1000 tons),COTTON YIELD (Kg per ha),FRUITS AREA (1000 ha),VEGETABLES AREA (1000 ha),FRUITS AND VEGETABLES AREA (1000 ha),POTATOES AREA (1000 ha),ONION AREA (1000 ha),FODDER AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,548.0,185.0,337.59,44.0,20.0,...,1777.78,0.0,0.0,0.0,5.95,6.64,12.59,0.01,0.60,0.47
1,1,1967,14,Chhattisgarh,Durg,547.0,409.0,747.71,50.0,26.0,...,1500.00,0.0,0.0,0.0,5.77,7.24,13.02,0.01,0.56,1.23
2,1,1968,14,Chhattisgarh,Durg,556.3,468.0,841.27,53.7,30.0,...,1000.00,0.0,0.0,0.0,5.41,7.40,12.81,0.10,0.58,1.02
3,1,1969,14,Chhattisgarh,Durg,563.4,400.8,711.40,49.4,26.5,...,1900.00,0.0,0.0,0.0,5.52,7.16,12.69,0.01,0.56,0.84
4,1,1970,14,Chhattisgarh,Durg,571.6,473.6,828.55,44.2,29.0,...,2000.00,0.0,0.0,0.0,5.45,7.19,12.64,0.02,0.52,0.42

In [252]:
df3 = df3[['Year', 'State Name', 'RICE AREA (1000 ha)', 'RICE PRODUCTION (1000 tons)', 'RICE YIELD (Kg per ha)']]
df3.head()

,Year,State Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha)
0,1966,Chhattisgarh,548.0,185.0,337.59
1,1967,Chhattisgarh,547.0,409.0,747.71
2,1968,Chhattisgarh,556.3,468.0,841.27
3,1969,Chhattisgarh,563.4,400.8,711.40
4,1970,Chhattisgarh,571.6,473.6,828.55

In [253]:
df3 = df3[df3['State Name'] == 'Rajasthan']

In [254]:
df3

,Year,State Name,RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha)
7172,1966,Rajasthan,0.10,0.10,1000.00
7173,1967,Rajasthan,0.10,0.10,1000.00
7174,1968,Rajasthan,0.10,0.10,1000.00
7175,1969,Rajasthan,0.10,0.10,1000.00
7176,1970,Rajasthan,0.10,0.10,1000.00
...,...,...,...,...,...
8519,2013,Rajasthan,5.29,6.49,1226.40
8520,2014,Rajasthan,5.27,6.10,1158.60
8521,2015,Rajasthan,5.18,5.30,1023.02
8522,2016,Rajasthan,5.17,6.19,1197.52
8523,2017,Rajasthan,5.51,6.68,1210.68

In [255]:
# Calculate the mean of the specific column, ignoring -1.0 values
mean = df3.loc[df3['RICE AREA (1000 ha)'] != -1.0, 'RICE AREA (1000 ha)'].mean()

# Replace -1.0 with the mean value using .loc
df3.loc[df3['RICE AREA (1000 ha)'] == -1.0, 'RICE AREA (1000 ha)'] = mean_value

In [256]:
# Calculate the mean of the specific column, ignoring -1.0 values
mean = df3.loc[df3['RICE PRODUCTION (1000 tons)'] != -1.0, 'RICE PRODUCTION (1000 tons)'].mean()

# Replace -1.0 with the mean value using .loc
df3.loc[df3['RICE PRODUCTION (1000 tons)'] == -1.0, 'RICE PRODUCTION (1000 tons)'] = mean_value

In [257]:
# Calculate the mean of the specific column, ignoring -1.0 values
mean = df3.loc[df3['RICE YIELD (Kg per ha)'] != -1.0, 'RICE YIELD (Kg per ha)'].mean()

# Replace -1.0 with the mean value using .loc
df3.loc[df3['RICE YIELD (Kg per ha)'] == -1.0, 'RICE YIELD (Kg per ha)'] = mean_value

In [258]:
has_negatives = (df3 == -1.0).any().any()
has_negatives

False

In [259]:
df3 = df3.groupby(['Year', 'State Name']).mean().reset_index()
len(df3)

52

In [260]:
mean_df = pd.merge(merged_df, df3, on=['Year', 'State Name'], how = 'inner')
len(mean_df)

50

In [261]:
mean_df = mean_df.sort_values(by = 'Year')

In [262]:
df4 = pd.read_csv('Desktop/HACKATHON/Irrigation_Crops.csv')

In [263]:
df4.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE IRRIGATED AREA (1000 ha),WHEAT IRRIGATED AREA (1000 ha),KHARIF SORGHUM IRRIGATED AREA (1000 ha),RABI SORGHUM IRRIGATED AREA (1000 ha),SORGHUM IRRIGATED AREA (1000 ha),...,PIGEONPEA IRRIGATED AREA (1000 ha),MINOR PULSES IRRIGATED AREA (1000 ha),PULSES IRRIGATED AREA (1000 ha),GROUNDNUT IRRIGATED AREA (1000 ha),SESAMUM IRRIGATED AREA (1000 ha),LINSEED IRRIGATED AREA (1000 ha),SUGARCANE IRRIGATED AREA (1000 ha),COTTON IRRIGATED AREA (1000 ha),FRUITS AND VEGETABLES IRRIGATED AREA (1000 ha),FODDER IRRIGATED AREA (1000 ha)
0,1,1966,14,Chhattisgarh,Durg,73.3,0.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,2.0,0.00
1,1,1967,14,Chhattisgarh,Durg,100.7,0.6,0.0,0.0,0.0,...,0.0,0.1,0.1,0.0,0.0,0.0,0.1,0.0,2.2,0.01
2,1,1968,14,Chhattisgarh,Durg,124.6,0.9,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,2.4,0.00
3,1,1969,14,Chhattisgarh,Durg,130.8,0.8,0.0,0.0,0.0,...,0.0,0.1,0.1,0.0,0.0,0.0,0.1,0.0,2.2,0.00
4,1,1970,14,Chhattisgarh,Durg,131.3,1.0,0.0,0.0,0.0,...,0.0,0.1,0.1,0.0,0.0,0.0,0.1,0.0,2.3,0.01

In [264]:
df4 = df4[['Year', 'State Name', 'RICE IRRIGATED AREA (1000 ha)']]

In [265]:
df4 = df4[df4['State Name'] == 'Rajasthan']

In [266]:
len(df4)

1430

In [267]:
# Calculate the mean of the specific column, ignoring -1.0 values
mean = df4.loc[df4['RICE IRRIGATED AREA (1000 ha)'] != -1.0, 'RICE IRRIGATED AREA (1000 ha)'].mean()

# Replace -1.0 with the mean value using .loc
df4.loc[df4['RICE IRRIGATED AREA (1000 ha)'] == -1.0, 'RICE IRRIGATED AREA (1000 ha)'] = mean_value

In [268]:
has_negatives = (df4 == -1.0).any().any()
has_negatives

False

In [269]:
df4 = df4.groupby(['Year', 'State Name']).mean().reset_index()
df4

    Year State Name  RICE IRRIGATED AREA (1000 ha)
0   1966  Rajasthan                       0.715385
1   1967  Rajasthan                       1.084615
2   1968  Rajasthan                       1.526923
3   1969  Rajasthan                       1.565385
4   1970  Rajasthan                       1.284615
5   1971  Rajasthan                       1.638462
6   1972  Rajasthan                       1.723077
7   1973  Rajasthan                       1.642308
8   1974  Rajasthan                       1.942308
9   1975  Rajasthan                       2.219231
10  1976  Rajasthan                       2.200000
11  1977  Rajasthan                       2.146154
12  1978  Rajasthan                       3.084615
13  1979  Rajasthan                       2.965385
14  1980  Rajasthan                       2.807692
15  1981  Rajasthan                       1.673077
16  1982  Rajasthan                       1.319231
17  1983  Rajasthan                       2.111538
18  1984  Rajasthan                       2.065385
19  1985  Rajasthan                       1.961538
20  1986  Rajasthan                       2.365385
21  1987  Rajasthan                       1.711538
22  1988  Rajasthan                       1.888462
23  1989  Rajasthan                       1.688462
24  1990  Rajasthan                     105.618795
25  1991  Rajasthan                      43.172749
26  1992  Rajasthan                      43.757749
27  1993  Rajasthan                      43.696595
28  1994  Rajasthan                      85.635113
29  1995  Rajasthan                      64.864892
30  1996  Rajasthan                      85.716651
31  1997  Rajasthan                      65.426431
32  1998  Rajasthan                      66.267200
33  1999  Rajasthan                      46.596979
34  2000  Rajasthan                      66.648738
35  2001  Rajasthan                      44.806595
36  2002  Rajasthan                      64.415662
37  2003  Rajasthan                      64.463738
38  2004  Rajasthan                      64.179123
39  2005  Rajasthan                      43.525441
40  2006  Rajasthan                      64.263738
41  2007  Rajasthan                      64.852200
42  2008  Rajasthan                       3.003846
43  2009  Rajasthan                       3.868846
44  2010  Rajasthan                       3.126538
45  2011  Rajasthan                       2.848846
46  2012  Rajasthan                       2.495000
47  2013  Rajasthan                       3.235385
48  2014  Rajasthan                       4.429231
49  2015  Rajasthan                       2.495000
50  2016  Rajasthan                       5.482308
51  2017  Rajasthan                       5.260385
52  2018  Rajasthan                       5.658000
53  2019  Rajasthan                       6.069385
54  2020  Rajasthan                       6.857577

In [270]:
mean_df = pd.merge(mean_df, df4, on=['Year', 'State Name'], how = 'inner')
len(mean_df)
mean_df = mean_df.sort_values(by = 'Year')
mean_df

,Year,State Name,RICE HARVEST PRICE (Rs per Quintal),ANNUAL RAINFALL (Millimeters),RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),RICE IRRIGATED AREA (1000 ha)
0,1966,Rajasthan,355.575807,382.721739,2.992308,0.861538,224.679615,0.715385
1,1967,Rajasthan,411.319935,597.460870,3.669231,3.657692,368.260000,1.084615
2,1968,Rajasthan,358.438256,380.156522,4.973077,2.196154,264.182692,1.526923
3,1969,Rajasthan,332.433955,463.508696,4.584615,3.811538,341.762692,1.565385
4,1970,Rajasthan,350.919025,571.286957,4.519231,5.207692,492.109231,1.284615
5,1971,Rajasthan,361.942557,597.208696,5.107692,6.138462,507.142692,1.638462
6,1972,Rajasthan,437.335775,361.647826,5.215385,3.138462,337.219231,1.723077
7,1973,Rajasthan,360.164724,774.021739,5.107692,4.553846,446.889615,1.642308
8,1974,Rajasthan,428.318570,457.873913,4.969231,3.838462,489.869231,1.942308
9,1975,Rajasthan,422.319935,769.726087,5.926923,8.550000,615.881923,2.219231
10,1976,Rajasthan,519.094377,700.365217,6.115385,8.192308,889.676154,2.200000
11,1977,Rajasthan,440.957942,646.276771,7.050000,9.069231,915.757692,2.146154
12,1978,Rajasthan,413.600249,609.673913,8.100000,8.976923,751.076923,3.084615
13,1979,Rajasthan,464.362243,456.526087,7.126923,3.857692,371.176538,2.965385
14,1980,Rajasthan,498.931929,413.577273,6.553846,5.769231,516.615000,2.807692
15,1981,Rajasthan,503.055006,435.686364,5.384615,5.330769,457.129615,1.673077
16,1982,Rajasthan,522.716544,529.436364,4.553846,3.511538,527.752308,1.319231
17,1983,Rajasthan,498.469025,665.081818,6.192308,8.361538,648.237308,2.111538
18,1984,Rajasthan,551.324236,432.513636,6.534615,8.188462,593.664231,2.065385
19,1985,Rajasthan,612.029448,429.959091,5.053846,4.588462,366.344615,1.961538
20,1986,Rajasthan,605.590076,454.995455,5.726923,5.061538,480.564615,2.365385
21,1987,Rajasthan,648.837140,331.231818,3.676923,2.950000,323.406538,1.711538
22,1988,Rajasthan,616.082839,497.795455,4.980769,7.084615,566.523846,1.888462
23,1989,Rajasthan,568.563153,410.268182,4.569231,5.811538,473.621538,1.688462
24,1990,Rajasthan,665.090076,749.257692,4.622308,5.466923,808.150769,105.618795
25,1991,Rajasthan,736.991896,455.926923,5.390000,4.595769,536.239615,43.172749
26,1992,Rajasthan,744.145742,635.300000,5.449231,6.722692,795.525385,43.757749
27,1993,Rajasthan,711.637140,522.169231,5.413077,4.117308,612.793846,43.696595
28,1994,Rajasthan,804.722666,697.603846,6.120000,6.662308,1107.205385,85.635113
29,1995,Rajasthan,864.891441,610.988462,5.364231,4.522308,550.583462,64.864892
30,1996,Rajasthan,900.237595,753.384615,5.658077,6.701538,712.137308,85.716651
31,1997,Rajasthan,911.891441,643.003846,6.380769,7.318077,711.302692,65.426431
32,1998,Rajasthan,785.611831,543.503846,6.464231,7.903846,770.266923,66.267200
33,1999,Rajasthan,785.611831,467.657692,7.701154,9.715385,857.361923,46.596979
34,2000,Rajasthan,785.611831,394.530769,6.395385,5.989231,571.035385,66.648738
35,2001,Rajasthan,785.611831,545.307692,5.553846,6.925769,749.378462,44.806595
36,2002,Rajasthan,785.611831,246.865385,3.214615,2.612692,353.141538,64.415662
37,2003,Rajasthan,785.611831,585.203846,3.835000,6.339231,935.704231,64.463738
38,2004,Rajasthan,996.030358,505.952528,3.898846,5.786154,862.836923,64.179123
39,2005,Rajasthan,1035.575146,497.926923,4.134615,5.887692,836.542308,43.525441
40,2006,Rajasthan,1034.929903,641.973077,4.146154,6.532692,904.434615,64.263738
41,2007,Rajasthan,1196.483294,499.888462,4.916923,9.988077,935.552308,64.852200
42,2008,Rajasthan,1272.352980,511.048682,5.131154,9.273077,843.204615,3.003846
43,2009,Rajasthan,1460.468364,373.533297,5.796538,8.780385,779.390385,3.868846
44,2010,Rajasthan,1306.914973,694.792308,5.044231,10.213462,1031.997692,3.126538
45,2011,Rajasthan,1403.414973,728.469231,5.167692,9.745769,1068.811538,2.848846
46,2012,Rajasthan,1581.829448,576.207692,4.833462,8.558846,910.408462,2.495000
47,2013,Rajasthan,1706.444832,684.846154,5.599231,12.022692,1040.401154,3.235385
48,2014,Rajasthan,1657.752525,560.038462,6.452692,14.103077,1098.364615,4.429231
49,2015,Rajasthan,1572.237595,611.196154,7.035385,14.222692,979.851154,2.495000

In [271]:
mean_df.to_csv('Desktop/HACKATHON/Rajasthan_RICE.csv', index = False)

In [287]:
df_MP_RICE = pd.read_csv("Desktop/HACKATHON/Madhya Pradesh_RICE.csv")
df_CH_RICE = pd.read_csv("Desktop/HACKATHON/Chhattisgarh_RICE.csv")
df_RAJ_RICE = pd.read_csv("Desktop/HACKATHON/Rajasthan_RICE.csv")

In [289]:
df_combined = pd.concat([df_MP_RICE, df_CH_RICE, df_RAJ_RICE], ignore_index=True)
df_combined = df_combined.sort_values(by = 'Year')
df_combined = df_combined.dropna()
df_combined.sort_values(by = 'Year')

,Year,State Name,RICE HARVEST PRICE (Rs per Quintal),ANNUAL RAINFALL (Millimeters),RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),RICE IRRIGATED AREA (1000 ha)
0,1966,Madhya Pradesh,794.638674,753.879593,34.340541,10.113514,392.856216,4.286486
48,1966,Chhattisgarh,351.044980,993.250000,485.166667,255.333333,513.370000,69.566667
95,1966,Rajasthan,355.575807,382.721739,2.992308,0.861538,224.679615,0.715385
96,1967,Rajasthan,411.319935,597.460870,3.669231,3.657692,368.260000,1.084615
1,1967,Madhya Pradesh,546.485069,1142.375000,33.781081,22.416216,641.995676,4.308108
...,...,...,...,...,...,...,...,...
143,2014,Rajasthan,1657.752525,560.038462,6.452692,14.103077,1098.364615,4.429231
46,2014,Madhya Pradesh,2489.891771,872.283784,55.594595,95.207027,1362.055946,19.031622
94,2015,Chhattisgarh,2425.737216,1117.883333,659.958333,859.055000,1263.070000,232.046667
47,2015,Madhya Pradesh,2773.607472,1015.586486,54.756757,92.234054,1343.517568,19.486216
144,2015,Rajasthan,1572.237595,611.196154,7.035385,14.222692,979.851154,2.495000

In [315]:
# Assuming df is your DataFrame
label_encoder = LabelEncoder()

# Apply Label Encoding to the 'State Name' column
df_combined['State Name'] = label_encoder.fit_transform(df_combined['State Name'])
df_combined.to_csv('Desktop/HACKATHON/RICE.csv')
df_combined

,Year,State Name,RICE HARVEST PRICE (Rs per Quintal),ANNUAL RAINFALL (Millimeters),RICE AREA (1000 ha),RICE PRODUCTION (1000 tons),RICE YIELD (Kg per ha),RICE IRRIGATED AREA (1000 ha)
0,1966,1,794.638674,753.879593,34.340541,10.113514,392.856216,4.286486
48,1966,0,351.044980,993.250000,485.166667,255.333333,513.370000,69.566667
95,1966,2,355.575807,382.721739,2.992308,0.861538,224.679615,0.715385
96,1967,2,411.319935,597.460870,3.669231,3.657692,368.260000,1.084615
1,1967,1,546.485069,1142.375000,33.781081,22.416216,641.995676,4.308108
...,...,...,...,...,...,...,...,...
93,2014,0,1814.284659,1250.916667,672.621667,1329.626667,1939.225000,240.336667
46,2014,1,2489.891771,872.283784,55.594595,95.207027,1362.055946,19.031622
47,2015,1,2773.607472,1015.586486,54.756757,92.234054,1343.517568,19.486216
94,2015,0,2425.737216,1117.883333,659.958333,859.055000,1263.070000,232.046667
144,2015,2,1572.237595,611.196154,7.035385,14.222692,979.851154,2.495000

In [309]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

rice_data_cleaned = pd.read_csv('Desktop/HACKATHON/RICE.csv')

# Define the features (X) and target (y)
X = rice_data_cleaned[['State Name', 'Year', 'ANNUAL RAINFALL (Millimeters)', 'RICE AREA (1000 ha)', 
                       'RICE PRODUCTION (1000 tons)', 'RICE YIELD (Kg per ha)', 'RICE IRRIGATED AREA (1000 ha)']]
y = rice_data_cleaned['RICE HARVEST PRICE (Rs per Quintal)']

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42) 

# Train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, r2

(34525.6326887928, 0.8357164741506302)

In [321]:
arr = [[0, 2020, 1250.916667, 628.383333, 1329.626667, 979.851154, 2.495000]]
arr = pd.DataFrame(arr)
arr
model.predict(arr)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([1937.3910287])